# Ref: https://semgrep.dev/docs/semgrep-ci/sample-ci-configs#sample-github-actions-configuration-file
name: Semgrep OSS scan

on:
  # Scan on-demand through GitHub Actions interface:
  workflow_dispatch: {}

  pull_request:
    branches:
      - master

  push:
    branches:
      - master

  schedule:
    # Sets Semgrep to scan every day at 18:07 UTC.
    - cron: '7 18 * * *'

permissions:
  contents: read

jobs:
  semgrep:
    permissions:
      contents: read # for actions/checkout to fetch code

    name: semgrep-oss/scan

    runs-on: ubuntu-latest

    container:
      image: semgrep/semgrep

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Semgrep OSS scan
        run: semgrep scan --config auto --sarif-output=semgrep.sarif

      - name: Upload result to GitHub Code Scanning
        if: github.ref_name == github.event.repository.default_branch
        uses: github/codeql-action/upload-sarif@0b21cf2492b6b02c465a3e5d7c473717ad7721ba # v3.23.1
        with:
          sarif_file: semgrep.sarif
